@font-face{

font-family:GothamRoundedBook;
 src:url(fonts/gothamrounded-book.otf) format("opentype");

}
@font-face{

font-family:GothamRoundedBold;
 src:url(fonts/gothamrounded-bold.otf) format("opentype");

}
@font-face{

font-family:GothamRoundedMedium;
 src:url(fonts/gothamrounded-medium.otf) format("opentype");

}
@font-face{

font-family:GothamRoundedBookItalic;
 src:url(fonts/gothamrounded-bookitalic.otf) format("opentype");

}