@import	"variables.scss";
@import	"mixins.scss";
@import	"fonts.scss";



body {
    font-family: GothamRoundedBook;
    margin: 0;
}
.container {
    max-width: 980px;
    margin: auto;
    padding: 0 50px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button, input, label {
    cursor: pointer;
}
.hero {
    width: 100%;
    padding: 100px  0   0   0;
    position: relative;
    height: 753px;
    background: url('header.png');
    background-position: 50%    50%;
    background-size: cover;
}
.header {
    position: relative;
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0   18px;
        width: 150px;
        text-decoration: none;
    }
    span {
        &:nth-child(1) {
            font-size: 31px;
            font-family: GothamRoundedBook;
            letter-spacing: -2px;
            line-height: 19px;
            color: $secondaryColor;
        }
        &:nth-child(2) {
            font-size: 31px;
            font-family: GothamRoundedBold;
            letter-spacing: -1px;
            line-height: 19px;
            color: $secondaryColor;
        }
        &:nth-child(3) {
            font-family: GothamRoundedBook;
            font-size: 12px;
            letter-spacing: 8px;
            line-height: 34px;
            color: $secondaryColor;
            display: block;
        }
    }
}
.nav {
    padding: 0  20px;
    @include    laptop {
        position: absolute;
        left: 80%;
        z-index: 1;
    }
    &__item {
        font-family: GothamRoundedMedium;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 25px;
        color: $secondaryColor;
        font-weight: 500;
        padding: 4px    0   0   0;
        margin: 0   0   0   20px;
        border-top: 4px solid   transparent;
        text-decoration: none;
        @include    laptop {
            display: none;
            margin: 0   0   10px    0;
        }
        &.is-opened {
            @include    laptop {
                display: block;
                padding: 0px    10px    0   5px;
            }
        }
        &-active {
            border-top: 4px solid   $primaryColor;
        }
        &:hover {
            border-top: 4px solid   $primaryColor;
            @include    laptop {
                background: $primaryColor;
            }
        }
        &-mobile {
            background-color: transparent;
            border: 0;
            position: relative;
            width: 40px;
            height: 35px;
            display: none;
            color: $secondaryColor;
            @include    laptop {
                display: block;
            }
            &:after {
                content: "";
                background: rgba(0, 0,  0,  0.7);
                z-index: -1;
                width: 100vw;
                height: 100vh;
                display: none;
                position: fixed;
                top: 0;
                left: 0;
            }
            span {
                color: $secondaryColor;
                &:before {
                    content: "";
                    width: 90%;
                    height: 4px;
                    position: absolute;
                    transition: 0.3s    ease;
                    background-color: $secondaryColor;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,  -50%)   rotate(0deg);
                    transform-origin: 50%   50%;
                    margin-top: -15px;
                }
                &:after {
                    content: "";
                    width: 90%;
                    height: 4px;
                    position: absolute;
                    transition: 0.3s    ease;
                    background-color: $secondaryColor;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,  -50%)   rotate(0deg);
                    transform-origin: 50%   50%;
                    box-shadow: 0   15px    0   0   $secondaryColor;
                }
            }
            &.is-opened {
                @include    laptop {
                    display: block;
                    padding: 0px    10px    0   5px;
                }
                &:after {
                    display: block;
                }
                span {
                    &:before {
                        margin-top: 0;
                        transform: translate(-50%,  -50%)   rotate(135deg);
                        background-color: $secondaryColor;
                        z-index: 2;
                    }
                    &:after {
                        background-color: $secondaryColor;
                        transform: translate(-50%,  -50%)   rotate(-135deg);
                        box-shadow: 0   0   0   0   black;
                        z-index: 2;
                    }
                }
            }
        }
    }
}
.search {
    position: absolute;
    top: 44%;
    width: 100%;
    &__title {
        font-family: GothamRoundedBookItalic;
        font-size: 55px;
        letter-spacing: -2.8px;
        line-height: 31px;
        color: $secondaryColor;
        margin-bottom: 4px;
        @include    mobile {
            font-size: 42px;
        }
    }
    &__submit {
        border: none;
        margin: 40px    0   0   0;
        padding: 5px    0;
    }
    input {
        width: 737px;
        height: 50px;
        border: 0;
        background-color: $secondaryColor;
        font-size: 18px;
        color: #c7c7c7;
        font-family: GothamRoundedBookItalic;
		padding: 0 15px;
        @include    laptop {
            width: 400px;
        }
        @include    tablet {
            width: 300px;
        }
        @include    mobile {
            width: 250px;
        }
        &::placeholder {
            font-size: 18px;
            color: #c7c7c7;
            font-family: GothamRoundedBookItalic;
        }
    }
    button {
        width: 140px;
        height: 50px;
        border: 0;
        background-color: $primaryColor;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        font-family: GothamRoundedBookItalic;
        margin: 0   0   0   75px;
        @include    laptop {
            margin: 0   0   0   10px;
        }
        @include    mobile {
            margin: 0;
            width: 120px;
        }
    }
    i {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
        color: #ffffff;
        padding: 8px;
    }
    &__options {
        border: none;
        padding: 15px   0;
        margin: 10px    0;
        select {
            width: 247px;
            border-radius: 2px;
            background-color: $secondaryColor;
            font-size: 13px;
            line-height: 25px;
            color: #c7c7c7;
            font-family: GothamRoundedBookItalic;
            height: 38px;
            padding: 0  0   0   10px;
            margin: 0   0   0   110px;
            @include    laptop {
                margin: 0   0   0   10px;
            }
            @include    tablet {
                margin: 20px    0   0   0;
            }
        }
        i {
            font-size: 13px;
            line-height: 25px;
            color: #c7c7c7;
        }
        &-check {
            display: flex;
            font-family: GothamRoundedBookItalic;
            color: $secondaryColor;
            input {
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        }
    }
    &__checkbox {
        display: none;
        +.search {
            &__checkbox {
                &-label {
                    &:before {
                        content: '';
                        background: #fff;
                        border-radius: 1px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 1em;
                        height: 1em;
                        padding: 2px;
                        margin-right: 10px;
                    }
                }
            }
        }
        &:checked {
            +.search {
                &__checkbox {
                    &-label {
                        &:after {
                            content: "";
                            padding: 1px;
                            position: absolute;
                            width: 3px;
                            height: 7px;
                            border: solid   black;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                            top: 5px;
                            left: 5px;
                        }
                    }
                }
            }
        }
        &-label {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin: 0   30px    0   0;
            cursor: pointer;
            font-size: 13px;
            line-height: 25px;
            font-family: GothamRoundedBookItalic;
            color: $secondaryColor;
            z-index: 0;
        }
    }
}
.main {
    display: block;
    text-align: center;
}
.intro {
    background-color: #f5f5f5;
    position: relative;
    padding: 110px  0;
    h2 {
        font-size: 30px;
        color: #585858;
        font-family: GothamRoundedBookItalic;
        margin: 0   0   20px    0;
        @include    mobile {
            font-size: 22px;
        }
    }
    h3 {
        font-size: 45px;
        color: #585858;
        font-family: "GothamRoundedBook";
        margin: 0   0   100px   0;
        position: relative;
        @include    mobile {
            font-size: 30px;
        }
        &:before {
            content: "";
            position: absolute;
            top: -320%;
            left: 25%;
            display: block;
            width: 138px;
            height: 5px;
            background-color: $primaryColor;
            margin: 0   0   50px    0;
        }
    }
    h4 {
        font-size: 18px;
        color: #585858;
        font-family: "GothamRoundedBook";
        margin: 0   110px;
        line-height: 22px;
        margin-bottom: 75px;
        @include    tablet {
            margin: 0   0   75px    0;
        }
    }
    button {
        font-size: 15px;
        color: $primaryColor;
        font-family: "GothamRoundedBook";
        font-weight: 500;
        text-align: center;
        width: 280px;
        text-transform: uppercase;
        height: 60px;
        border-radius: 5px;
        background-color: rgba(56,56,56,0);
        border: 2px solid   #4acaff;
        @include    mobile {
            width: 150px;
            height: 50px;
            font-size: 10px;
        }
        &:hover {
            color: white;
            background-color: $primaryColor;
            transition: ease    0.5s;
        }
    }
    &:before {
        content: '';
        height: 7px;
        width: 100%;
        background-image: url(separator.png);
        position: absolute;
        top: 0;
        left: 0;
    }
}
.subscribe {
    background-color: #131c25;
    position: relative;
    padding: 170px  0;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            margin-top: -20px;
            position: relative;
            margin-bottom: 33px;
            font-size: 18px;
            color: #ffffff;
            font-family: "GothamRoundedBook";
        }
        &:before {
            content: '';
            height: 7px;
            width: 100%;
            background-image: url(separator.png);
            position: absolute;
            top: -7px;
            left: 0;
        }
        &-input {
            position: relative;
            input {
                width: 361px;
                height: 51px;
                border-radius: 5px;
                background-color: rgba(255,255,255,0);
                border: 2px solid   $primaryColor;
				padding: 0 15px;
				color: white;
                @include    mobile {
                    width: 150px;
                    height: 35px;
                }
                &::placeholder {
                    font-size: 14px;
                    line-height: 25px;
                    color: white;
                    font-family: "GothamRoundedBookItalic";
                    @include    tablet {
                        font-size: 8px;
                    }
                }
            }
            i {
                position: absolute;
                top: 35%;
                right: 5%;
                font-size: 17px;
                color: grey;
            }
        }
    }
}
.footer {
    position: relative;
    background-color: #f5f5f5;
    padding: 50px   150px;
    @include    tablet {
        padding: 50px   50px;
    }
    &:before {
        content: '';
        height: 7px;
        width: 100%;
        background-image: url(separator.png);
        position: absolute;
        top: -7px;
        left: 0;
    }
    &__info {
        margin-top: 5px;
        &-email {
            display: flex;
            align-items: center;
            i {
                font-size: 18px;
                color: $primaryColor;
                padding-left: 2px;
            }
            p {
                font-size: 14px;
                color: #7a7a7a;
                font-family: "GothamRoundedBook";
                font-weight: 700;
                margin-left: 15px;
            }
        }
        &-terms {
            display: flex;
            @include    mobile {
                flex-direction: column;
                text-align: center;
                align-items: flex-start;
            }
            p {
                &:nth-child(1) {
                    font-size: 14px;
                    color: #a6a5a5;
                    font-family: "GothamRoundedBook";
                }
                &:nth-child(2) {
                    font-size: 14px;
                    color: #7a7a7a;
                    font-family: "GothamRoundedBook";
                    font-weight: 700;
                }
            }
        }
    }
}