@font-face{
	font-family:GothamRoundedBook;
	src:url(fonts/gothamrounded-book.otf) format("opentype");
}

@font-face{
	font-family:GothamRoundedBold;
	src:url(fonts/gothamrounded-bold.otf) format("opentype");
}

@font-face{
	font-family:GothamRoundedMedium;
	src:url(fonts/gothamrounded-medium.otf) format("opentype");
}

@font-face{
	font-family:GothamRoundedBookItalic;
	src:url(fonts/gothamrounded-bookitalic.otf) format("opentype");
}

@mixin laptop {
	@media (max-width: 992px) { @content; }
}

@mixin tablet {
	@media (max-width: 788px) { @content; }
}

@mixin mobile {
	@media (max-width: 600px) { @content; }
}

$primaryColor: #4acaff;
$secondaryColor: white;

body {
	margin: 0;
	min-width: 320px;
	font: 18px/1.25 GothamRoundedBook, arial, sans-serif;
	background: #f5f5f5;
}

.container {
	max-width: 980px;
	margin: auto;
	padding: 0 20px;
}

a, button, label {
	cursor: pointer;
}

.hero {
	width: 100%;
	padding: 100px 0 0;
	position: relative;
	height: 763px;
	background: url(../assets/header.png);
	background-position: 50% 50%;
	background-size: cover;
	@include mobile{
		padding: 50px 0 0;
		height: 500px;
	}
}

.header {
	position: relative;
	.container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__logo {
		margin: 0 14px;
	}
}

.nav {
	padding: 0 25px;
	transform: translate(0%, 10%);
	@include laptop {
		position: absolute;
		right: 50px;
		top: 80px;
		z-index: 1;
		transform: none;
	}
	@include mobile{
		right: 10px;
	}
	&__item {
		font-family: GothamRoundedMedium;
		text-transform: uppercase;
		color: $secondaryColor;
		font-weight: 500;
		padding: 8px 0 0;
		margin: 0 0 0 19px;
		border-top: 4px solid transparent;
		text-decoration: none;
		font-size: 14px;
		line-height: 25px;
		@include laptop {
			display: none;
			margin: 0 0 10px;
			font-size: 18px;
		}
		&.is-opened {
			@include laptop {
				display: block;
				padding: 0px 10px 0 5px;
				margin: 0 0 40px 0;
			}
		}
		&-active {
			border-top: 4px solid $primaryColor;
			@include laptop {
				background: $primaryColor;
			}
		}
		&:hover {
			border-top: 4px solid $primaryColor;
			@include laptop {
				background: $primaryColor;
			}
		}
		&-mobile {
			background-color: transparent;
			border: 0;
			position: absolute;
			top: -80px;
			right: 0;
			width: 40px;
			height: 35px;
			display: none;
			color: $secondaryColor;
			text-indent: -9999px;
			@include laptop {
				display: block;
			}
			&:after {
				content: "";
				background: rgba(0, 0, 0, .7);
				z-index: -1;
				width: 100%;
				height: 100%;
				display: none;
				position: fixed;
				top: 0;
				left: 0;
			}
			span {
				color: $secondaryColor;
				&:before {
					content: "";
					width: 90%;
					height: 4px;
					position: absolute;
					transition: .3s ease;
					background-color: $secondaryColor;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0deg);
					transform-origin: 50% 50%;
					margin-top: -15px;
				}
				&:after {
					content: "";
					width: 90%;
					height: 4px;
					position: absolute;
					transition: .3s ease;
					background-color: $secondaryColor;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0deg);
					transform-origin: 50% 50%;
					box-shadow: 0 15px 0 0 $secondaryColor;
				}
			}
			&.is-opened {
				@include laptop {
					display: block;
					padding: 0px 10px 0 5px;
					z-index: -1;
				}
				&:after {
					display: block;
				}
				span {
					&:before {
						margin-top: 0;
						transform: translate(-50%, -50%) rotate(135deg);
						background-color: $secondaryColor;
						z-index: 2;
					}
					&:after {
						background-color: $secondaryColor;
						transform: translate(-50%, -50%) rotate(-135deg);
						box-shadow: 0 0 0 black;
						z-index: 2;
					}
				}
			}
		}
	}
}

.search {
	position: absolute;
	top: 42%;
	width: 100%;
	@include laptop {
		top: 40%;
	}
	@incude mobile {
		top: 35%;
	}
	&__title {
		font-family: GothamRoundedBookItalic;
		font-size: 55px;
		letter-spacing: -3px;
		line-height: 1.2;
		color: $secondaryColor;
		@include mobile {
			font-size: 36px;
		}
	}
	&__submit {
		border: none;
		margin: 35px 0 10px;
		padding: 5px 0;
		display: flex;
		align-items: center;
	}
	input {
		max-width: 737px;
		width: 100%;
		height: 50px;
		border: 0;
		background-color: $secondaryColor;
		font-size: 18px;
		color: #c7c7c7;
		font-family: GothamRoundedBookItalic;
		padding: 0 15px;
		box-shadow: 0 3px #f3f3f3;
		@include laptop {
			width: 400px;
		}
		@include tablet {
			width: 300px;
		}
		@include mobile {
			width: 200px;
			height: 40px;
		}
		&::placeholder {
			font-size: 18px;
			color: #c7c7c7;
			font-family: GothamRoundedBookItalic;
			@include mobile{
				font-size: 12px;
			}
		}
	}
	button {
		max-width: 140px;
		width: 100%;
		height: 50px;
		border: 0;
		background-color: $primaryColor;
		font-size: 20px;
		color: #ffffff;
		font-family: GothamRoundedBookItalic;
		margin: 0 0 0 80px;
		box-shadow: 0 3px #43b8e8;
		line-height: 34px;
		@include laptop {
			margin: 0 0 0 10px;
		}
		@include mobile {
			margin: 10px 0;
			width: 100px;
			height: 40px;
			font-size: 0;
		}
		&:hover{
			background-color: #3294bd;
		}
		&:active{
			box-shadow: 0 1px #3ba6d2;
			transform: translateY(2px);
		}
	}
	i {
		letter-spacing: 0;
		color: #ffffff;
		padding: 8px;
		font-size: 15px;
		@include mobile{
			font-size: 10px;
		}
	}
	&__options {
		border: none;
		padding: 15px 0;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.nice-select {
			width: 247px;
			border-radius: 2px;
			background-color: $secondaryColor;
			color: #c7c7c7;
			font-family: GothamRoundedBookItalic;
			height: 30px;
			padding: 0 35px 0 15px;
			margin: 0 0 0 110px;
			float: none;
			display: inline-block;
			box-shadow: 0 3px #f3f3f3;
			display: flex;
			align-items: center;
			span {
			  font-size: 13px;
			  line-height: 25px;
			}
			
			@include laptop {
				margin: 0 0 0 10px;
			}
			@include tablet {
				margin: 10px 0 0;
			}
			@include mobile{
				width: 150px;
				font-size: 10px;
				padding: 0 10px;
			}
		}
		i {
			line-height: 1;
			color: #c7c7c7;
		}
		&-check {
			display: flex;
			font-family: GothamRoundedBookItalic;
			color: $secondaryColor;
			input {
				-webkit-appearance: none;
				-moz-appearance: none;
			}
		}
	}
	&__checkbox {
		display: none;
		+.search {
			&__checkbox {
				&-label {
					&:before {
						content: "";
						background: #fff;
						border-radius: 1px;
						display: inline-block;
						vertical-align: middle;
						width: 10px;
						height: 10px;
						padding: 2px;
						margin-right: 13px;
						box-shadow: 0 2px #f3f3f3;
					}
				}
			}
		}
		&:checked {
			+.search {
				&__checkbox {
					&-label {
						&:after {
							content: "";
							padding: 1px;
							position: absolute;
							width: 2px;
							height: 4px;
							border: solid black;
							border-width: 0 3px 3px 0;
							transform: rotate(45deg);
							top: 7px;
							left: 4px;
						}
					}
				}
			}
		}
		&-label {
			display: flex;
			align-items: center;
			margin: 0 35px 0 0;
			padding: 5px 0;
			cursor: pointer;
			font-size: 13px;
			line-height: 25px;
			font-family: GothamRoundedBookItalic;
			color: $secondaryColor;
			z-index: 0;
			position: relative;
		}
	}
}

.main {
	display: block;
	text-align: center;
}

.is-separated{
	&:before{
		height: 7px;
		width: 100%;
		background: url(../assets/separator.png) 50%; 
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.intro {
	position: relative;
	padding: 90px 0;
	margin-bottom: 6px;
	.container {
		transform: translate(-15px, 0);
		@include laptop {
			transform: none;
		}
	}
	&__heading {
		font-size: 45px;
		color: #585858;
		position: relative;
		margin-top: 0;
		line-height: 60px;
		padding-bottom: 55px;
		@include mobile {
			font-size: 22px;
		}
		&:before {
			content: "";
			position: absolute;
			right: 50%;
			bottom: 0;
			transform: translateX(50%);
			display: block;
			width: 138px;
			height: 5px;
			background-color: $primaryColor;
			margin: 0 0 8px;
		}
		i {
			position: relative;
			font-weight: 500;
			font-size: 30px;
			color: #585858;
			font-family: "GothamRoundedBook";
			font-style: italic;
			@include mobile {
				font-size: 30px;
			}
		}
	}
	p {
		font-size: 18px;
		color: #585858;
		padding: 0 100px;
		line-height: 1.2;
		margin-bottom: 75px;
		transform: translate(30px, 0px);
		@include tablet {
			margin: 0 0 75px;
			transform: none;
			padding: 0;
		}
	}
	.btn {
		font-size: 15px;
		color: $primaryColor;
		font-weight: 500;
		text-align: center;
		max-width: 285px;
		width: 100%;
		text-transform: uppercase;
		height: 65px;
		border-radius: 5px;
		background-color: rgba(56,56,56,0);
		border: 2px solid #4acaff;
		transform: translate(3px, 0px);
		@include mobile {
			font-size: 14px;
		}
		&:hover {
			color: white;
			background-color: $primaryColor;
			transition: ease .5s;
		}
	}
}

.subscribe {
	background-color: #131c25;
	position: relative;
	padding: 150px 0 125px;
	&__form {
		padding: 20px 0;
		transform: translate(-10px, 0px);
		label {
			position: relative;
			font-size: 18px;
			color: #fff;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&-content {
			position: relative;
			margin: 30px auto;
			max-width: 360px;
			display: flex;
			input {
				width: 100%;
				height: 50px;
				border-radius: 5px;
				background-color: rgba(255,255,255,0);
				border: 2px solid $primaryColor;
				padding: 0 15px;
				color: white;
				&::placeholder {
					font-size: 14px;
					line-height: 25px;
					color: white;
					font-family: "GothamRoundedBookItalic";
				}
			}
			button {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 0;
				color: $secondaryColor;
				padding: 0;
				border: 0;
				background: none;
			}
		}
	}
}

.footer {
	position: relative;
	padding: 70px 0;
	@include tablet {
		padding: 50px 50px;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
	&__info {
	  font-size: 14px;
		color: #a6a5a5;
		i {
			font-size: 18px;
			color: $primaryColor;
			margin: 0 15px 0 0;
		}
		p {
			margin-top: 25px;
		}
		&-email {
			font-weight: 500;
			text-decoration: none;
			font-size: 14px;
			color: #7a7a7a;
			&:hover {
			  color: $primaryColor;
			}
		}
		&-terms {
			font-size: 14px;
			color: #7a7a7a;
			font-family:GothamRoundedBold;
			font-weight: 700;
			text-decoration: none;
			&:hover {
				color: $primaryColor;
			}
		}
	}
}

.fa {
	&-envelope{
		&:before{
			font-size: 17px;
		}
		&:hover {
			color: $primaryColor;
		}
	}
}